<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bob Custom Theme. This is Bob, a command palette for your browser.</title>
</head>
<body>
    <header>
        <h1>Bob Custom Theme</h1>
        <div id="preview"></div>
    </header>
    <div style="font-size: 14px; padding: 8px;">This is CSS. Be careful when editing this for syntax errors. <a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics">CSS Basics mdn</a></div>
    <textarea name="textarea" id="textarea" autocomplete="off" spellcheck="off"></textarea>
    <script src="./main.ts" type="module"></script>
</body>
</html>