textarea,
body,
html {
	height: 100%;
	width: 100%;
}

body {
	padding: 24px;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

h1 {
	text-align: center;
}

#preview {
	display: flex;
	justify-content: center;
}

header {
	display: flex;
	gap: 40px;
	align-items: center;
	justify-content: center;
}
