.theme-container {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.theme-card {
	display: flex;
	flex-wrap: wrap;
	width: 220px;
	border-radius: var(--bob-input-border-radius);
	overflow: hidden;
	border: 1px solid var(--bob-color-base-content-300);
	color: var(--bob-color-base-content-100);
}

.theme-card-base {
	color: var(--bob-color-base-content-100);
	width: 100%;
	text-align: center;
	background-color: var(--bob-color-base-100);
}

.theme-card-primary,
.theme-card-accent {
	height: 40px;
	width: 50%;
}

.theme-card-primary {
	background-color: var(--bob-color-primary);
}
.theme-card-accent {
	background-color: var(--bob-color-accent);
}

h3 {
	padding-top: 20px;
	padding-bottom: 4px;
}

header {
	font-size: 1.5rem;
}

body {
	padding: 24px;
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-width: 1000px;
	margin: auto;
}

input[type="number"] {
	width: 80px;
}

label input {
	margin-right: 6px;
}

label {
	padding: 8px;
	display: inline-flex;
	align-items: center;
	min-width: 160px;
	max-width: 160px;
	font-size: 1rem;
	line-height: 1;
}

.search-group-description,
.search-group-description-heading {
	min-width: 260px;
	max-width: 260px;
}

footer {
	margin-top: auto;
	display: flex;
	justify-content: center;
	font-size: 36px;
}

footer a {
	color: var(--bob-color-base-content-100);
}

.search-group-container {
	display: flex;
	width: max-content;
	align-items: center;
	border-bottom: 1px solid var(--bob-color-base-content-300);
}

.theme-card-colors {
	display: flex;
	height: 40px;
	width: 100%;
}

.theme-card-colors div {
	height: 100%;
	width: 100%;
}

.theme-card-components {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--bob-color-base-300);
	width: 100%;
	gap: 4px;
	padding: 4px;
}
