.theme-container {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.theme-card {
	display: flex;
	flex-wrap: wrap;
	width: 120px;
}

.theme-card-base {
	color: var(--bob-color-base-content-100);
	width: 100%;
	text-align: center;
	background-color: var(--bob-color-base-100);
}

.theme-card-primary,
.theme-card-accent {
	height: 40px;
	width: 50%;
}

.theme-card-primary {
	background-color: var(--bob-color-primary);
}
.theme-card-accent {
	background-color: var(--bob-color-accent);
}

h3 {
	padding-top: 20px;
	padding-bottom: 4px;
}

header {
	font-size: 1.5rem;
}

body {
	padding: 24px;
}

input[type="number"] {
	width: 80px;
}

label input {
	margin-left: 6px;
}

label {
	padding: 6px 12px;
	display: inline-flex;
	align-items: center;
}
