.shortcut kbd {
	border-radius: 0.5rem;
	border: 1px solid var(--bob-color-base-content-300);
	padding-left: .5rem;
	padding-right: .5rem;
	border-bottom-width: 2px;
	min-height: 2.2em;
	min-width: 2.2em;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.shortcut {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: var(--bob-shortcut-font-size);
}
