h3 {
	padding-top: 20px;
	padding-bottom: 4px;
	font-size: 1.125rem;
}

header {
	font-size: 1.0rem;
}

body {
	padding: 24px;
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-width: 1000px;
	margin: auto;
}

input[type="number"] {
	width: 80px;
}

label input {
	margin-right: 6px;
}

label {
	font-size: 1rem;
	line-height: 1;
}
