[data-theme="dark"] {
	--bob-color-primary: #ffda58;
	--bob-color-accent: #c47f7e;
	--bob-color-base-100: #424649;
	--bob-color-base-200: #303134;
	--bob-color-base-300: #1f1f1f;
	--bob-color-base-content-100: #d9dce4;
	--bob-color-base-content-200: #d9dce4;
	--bob-color-base-content-300: rgba(166, 173, 187, 0.2);
	--bob-shortcut-font-size: 13px;
	--bob-search-font-size: 1.5rem;
	--bob-input-border-radius: 4px;
	--bob-input-min-height: 36px;
}
