[data-theme="light"] {
	--bob-color-primary: #843938;
	--bob-color-accent: #c47f7e;
	--bob-color-base-100: #c5cbdd;
	--bob-color-base-200: #c0c4cf;
	--bob-color-base-300: #c0c4cf;
	--bob-color-base-content-100: #1c1e24;
	--bob-color-base-content-200: #353333;
	--bob-color-base-content-300: rgba(112, 116, 124, 0.2);
	--bob-shortcut-font-size: 13px;
}
