<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi! This is Bob, a command palette for your browser.</title>
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <div class="search-container">
        <input id="search" autocomplete="off" type="text" aria-label="Search">
        <div id="loading" class="loading-bar hidden">
            <div class="loading-bar-piece"></div>
        </div>
    </div>
    <ul id="results" class="results"></ul>
    <div id="options">
        <div id="selected-result"></div>
        <div class="search-container">
            <input id="options-search" autocomplete="off" type="text" aria-label="Search for Result Options">
        </div>
        <ul id="options-results" class="results"></ul>
    </div>
    <footer id="footer"></footer>
    <script src="./main.ts" type="module"></script>
</body>

</html>
