.search-container {
	background-color: var(--bob-color-base-100);
	width: 100%;
	border-radius: 8px;
	box-shadow: 0 16px 70px rgba(0, 0, 0, 0.2);
}

.search-container input {
	padding: 24px;
	width: 100%;
	font-size: var(--bob-search-font-size);
}

.hidden {
	display: none;
}

.no-results-container {
	display: flex;
	justify-content: center;
	padding: 64px 12px;
	align-items: center;
	flex-direction: column;
	font-weight: bold;
}

.results {
	padding-bottom: 40px;
}

footer {
	display: flex;
	align-items: center;
	padding: 4px 8px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--bob-color-base-300);
	font-size: 0.75rem;
	gap: 12px;
	z-index: 100;
}

footer .icon svg {
	font-size: 1rem;
}

#options {
	z-index: 20;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: none;
	background-color: var(--bob-color-base-200);
	flex-direction: column;
}

#options-results {
	overflow-y: auto;
}

.loading-bar {
	width: 100%;
	position: relative;
	height: 6px;
}

.loading-bar-piece {
	position: absolute;
	background-color: var(--bob-color-primary);
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	transition: 0.2s ease;
	animation: loadingBarPiece 1s linear infinite;
}

@keyframes loadingBarPiece {
	0% {
		left: 0%;
		right: 100%;
		width: 0%;
	}
	10% {
		left: 0%;
		right: 75%;
		width: 50%;
	}
	90% {
		right: 0%;
		left: 75%;
		width: 15%;
	}
	100% {
		left: 100%;
		right: 0%;
		width: 0%;
	}
}

#selected-result {
	pointer-events: none;
}
