* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 48px;
	text-align: center;
	padding-bottom: 4px;
}

h2 {
	text-align: center;
	font-size: 24px;
	font-weight: normal;
}

body {
	padding: 24px;
	padding-top: 94px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.links a {
	color: var(--bob-color-primary);
	text-decoration: none;
}

.thumb {
	height: auto;
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	box-shadow: 0 16px 70px rgba(0, 0, 0, 1), 0 24px 100px
		var(--bob-color-primary);
}

.links {
	display: flex;
	gap: 32px;
	justify-content: center;
	align-items: center;
	padding: 24px 24px 96px;
}
