* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h2 {
	text-align: center;
	font-size: 24px;
	font-weight: normal;
}

html {
	scroll-behavior: smooth;
}

body {
	padding: 24px;
	max-width: 1300px;
	margin: auto;
}

.links a {
	color: var(--bob-color-primary);
	text-decoration: none;
}

.thumb {
	height: auto;
	max-width: 640px;
	width: 100%;
	margin: 0 auto;
	box-shadow: 0 16px 70px rgba(0, 0, 0, 1), 0 24px 100px
		var(--bob-color-primary);
}

.links {
	display: flex;
	gap: 32px;
	justify-content: center;
	align-items: center;
	padding: 24px 24px 96px;
}

main {
	padding-top: 96px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.plugins {
	padding-top: 120px;
}

#pluginsh {
	scroll-margin-top: 96px;
}

.plugins-container {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
}

.plugins-container li {
	min-width: 400px;
	max-width: 400px;
	margin: 4px;
	padding: 8px;
}

.heading {
	font-size: 48px;
	text-align: center;
	padding-bottom: 4px;
	font-weight: bold;
}
