.result {
	padding: var(--bob-result-spacing);
	list-style: none;
	display: flex;
	align-items: center;
	cursor: pointer;
	background-color: var(--bob-color-base-200);
}

.result[aria-selected] {
	background-color: var(--bob-color-base-300);
}

.result-title {
	font-weight: bold;
	margin: var(--bob-result-title-spacing);
	font-size: var(--bob-result-title-font-size);
	display: flex;
	gap: 4px;
	align-items: center;
}

.result-description {
	margin: var(--bob-result-description-spacing);
	font-size: var(--bob-result-description-font-size);
	opacity: var(--bob-result-description-opacity);
}

.result-prepend {
	margin: var(--bob-result-prepend-spacing);
}

.result-append {
	margin-left: auto;
	padding: var(--bob-result-append-spacing);
}

.result,
.result-description,
.result-content,
.result-title {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.result.hidden {
	display: none;
}
