* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: var(--bob-color-base-200);
	color: var(--bob-color-base-content-100);
	font-family: sans-serif;
}

.shortcut kbd {
	border-radius: 0.5rem;
	border: 1px solid var(--bob-color-base-content-300);
	padding-left: .5rem;
	padding-right: .5rem;
	border-bottom-width: 2px;
	min-height: 2.2em;
	min-width: 2.2em;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.shortcut {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: var(--bob-shortcut-font-size);
}

input {
	outline: none;
	border: none;
	background-color: var(--bob-color-base-100);
	color: var(--bob-color-base-content-100);
	padding: 4px 16px;
	min-height: var(--bob-input-min-height);
	border-radius: var(--bob-input-border-radius);
}

button {
	background-color: var(--bob-color-primary);
	border-radius: var(--bob-input-border-radius);
	color: var(--bob-color-base-200);
	padding: 0 16px;
	min-height: var(--bob-input-min-height);
	min-width: 54px;
	border: none;
}

svg,
img {
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.spacer {
	flex: 1;
}
