@import "tailwindcss";

@theme {
    --color-accent: #ffcb11;
    --color-primary: rgb(239, 239, 239);
    --color-success: #2a762a;
    --color-bg: #000;
    --color-error: red;
    --color-fg: #d9dce4;
    --color-fg-weak: rgba(235, 235, 245, 0.6);
    --color-fg-weaker: rgba(255, 255, 255, 0.4);
    --color-fg-weakest: #ffffff33;

    --font-main: sans-serif;
    --font-size-search: 21px;
    --font-size-base: 15px;
    --font-size-md: 13px;

    --padding-input: 8px 12px;
    --min-height-input: 36px;
}

html, body {
	height: 100%;
	width: 100%;
	background-color: var(--color-bg);
	color: var(--color-fg);
	padding: 20px;
}
