.result-plugin-card {
	padding: 8px;
	width: 180px;
	border-radius: var(--bob-input-border-radius);
	overflow: hidden;
	border: 1px solid var(--bob-color-base-content-300);
}

.result-plugin-title {
	padding-bottom: 8px;
	display: block;
}

.result-plugin-description {
	padding-top: 8px;
}
