<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, Hello! This is Bob. A browser command palette.</title>
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <div class="search-container">
        <input id="search" autocomplete="off" type="text">
    </div>
    <div id="status-stripe"></div>
    <ul id="results" class="results"></ul>
    <div id="options">
        <div id="options-result"></div>
        <div class="search-container">
            <input id="options-search" autocomplete="off" type="text">
        </div>
        <ul id="options-results" class="results"></ul>
    </div>
    <footer id="footer"></footer>
    <script src="./main.ts" type="module"></script>
</body>

</html>
