.search-container {
	background-color: var(--bob-color-base-100);
	width: 100%;
	border-radius: 8px;
	box-shadow: 0 16px 70px rgba(0, 0, 0, 0.2);
}

.search-container input {
	padding: 24px;
	width: 100%;
	font-size: var(--bob-search-font-size);
}

.hidden {
	display: none;
}

.no-results {
	display: flex;
	justify-content: center;
	padding: 20px 12px;
	align-items: center;
	font-weight: bold;
}

.no-results span {
	margin-right: 16px;
	font-size: 1.125rem;
}

.results {
	padding-bottom: 40px;
}

footer {
	display: flex;
	align-items: center;
	padding: 4px 8px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--bob-color-base-300);
	font-size: 0.75rem;
	gap: 12px;
	z-index: 100;
}

footer .icon svg {
	font-size: 1rem;
}

#options {
	z-index: 20;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: none;
	background-color: var(--bob-color-base-200);
	flex-direction: column;
}

#options-results {
	overflow-y: auto;
}
