.shortcut-input {
	position: relative;
	border: var(--bob-input-border);
	background-color: var(--bob-color-base-100);
	color: var(--bob-color-base-content-100);
	padding: var(--bob-input-padding);
	min-height: var(--bob-input-min-height);
	border-radius: var(--bob-input-border-radius);
	max-width: 240px;
}

.shortcut-input input {
	position: absolute;
	background: transparent;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: 2;
}

.shortcut-input input:focus {
	border: 2px solid var(--bob-color-error);
}

.shortcut-input-fake {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}
